 .footer {
padding-top: 60px;
padding-bottom: 60px;
background-color: #2F303A;
// .container {
//     display: flex;
//     align-items: center;
// }

}
.footer-contact-logo {
    margin-right: 70px;
}
.footer-logo-color {
    margin-bottom: 20px;
}

.footer-contact:not(:last-child) {
margin-bottom: 9px;  
}
.adress {
font-style: normal;
@include font (14px, 1.71, 400, 0.03em);
color: #FFFFFF;
margin-bottom: 9px;
}
.footer-link {
    @include font (14px, 1.71, 400, 0.03em);
color: rgba(255, 255, 255, 0.6);
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
&:hover, &:focus {
    color: #2196F3;
}
}

.footer-text {
    @include font (14px, 1.42, 400, 0.03em);
text-transform: uppercase;
color: #FFFFFF;
padding-top: 12px;
}

.footer-soc-list {
    display: flex;
    margin-top: 20px;
}
.footer-soc-link {
    width: 44px;
    height: 44px;
    background-color: rgba(255, 255, 255, 0.1);;
    border-radius: 50%;
    @extend %align-list;
    fill: #FFFFFF;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: all;
    &:hover, &:focus {
        background-color:  #2196F3;
    }
}
.footer-soc-item:not(:last-child) {
    margin-right: 10px;  
    }

    
   .footer-input-button {
     margin-left: auto;  
   }
.footer-input-text {
 @include font (14px, 1.14, 700, 0.03em);
text-transform: uppercase;
color: #FFFFFF;
margin-bottom: 20px;
}
.footer-input {
width: 358px;
height: 50px;
border: 1px solid rgba(255, 255, 255, 0.3);
border-radius: 4px;
background-color: #2F303A;
&::placeholder {
     @include font (16px, 1.25, 400, 0.03em);
}
}

.footer-button {
width: 200px;
height: 50px;
background: #2196F3;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;

font-family: inherit;
 @include font (16px, 1.88, 700, 0.06em);

text-align: center;
color: #FFFFFF;
margin-left: 10px;
border: none;

}

.footer-button-icon {
    fill: #FFFFFF;
    margin-left: 10px;
}
 .footer-top {
    justify-content: center;
}