.header {
    padding-top: 16px;
    padding-bottom: 16px;
    @media screen and (min-width:768px) and (max-width:1199px)  {
     padding-top: 26px;
    padding-bottom: 26px;
     } 
 @media screen  and (min-width:1200px) {
    padding-top: 24px;
    padding-bottom: 24px;
    position: relative;}
    .container {
  @extend %align-list;
}
}
.menu-open-btn  {
   @media screen and (min-width:768px) {
    display: none;
     } 
    margin-left: auto;
    border: none;
    background-color: transparent;

    &:hover, &:focus {
    fill: #2196F3;
   
    
}
}


.navigation {
    @media screen and (max-width:767px) {
    display: none;
     } 
}

 .menu-list {
     display: flex;
}

.menu-list__item:not(:last-child) {
margin-right: 50px;
}
.menu-list__link {
     @include font (14px, 1.14, 500, 0.02em);
color: #212121;
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
transition-property: all;
&.current {
    color: var(--acent-color);
    }
&:hover, &:focus {
    color: #2196F3;
}
}

.menu-list__line::after {
content: "";
position: absolute;
bottom: 0;
width: 48px;
height: 4px;
background-color: #2196F3;
border-radius: 2px;
display: flex;
}
.contact {
    // @media screen and (max-width:767px) {
    // display: none;
    //  }  
    @media screen and (max-width:1199px) {
    display: block;
     }    
}
.contact-list__link {
     @include font (14px, 1.14, 500, 0.02em);
    color: var(--text-color); 
    @extend %align-list;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: all;
    &:hover, &:focus {
    color: #2196F3;
     @media screen and (min-width:767px) and (max-width:1199px) {
    margin-bottom: 100px; 
}
}
}
.contact-list {
   // margin-left: 84px;
    @media screen and (min-width:1200px) {
    display: flex;
}
}
.contact {
     @media screen and (max-width:767px) {
    display: none;
     }  
    margin-left: auto;
}
// .contact-list__item {
//     margin-right: 50px;
// }

.contact-list__icon {
    fill: currentColor;
    margin-right: 10px;
}

.contact-list__item {
     @media screen and (min-width:768px) and (max-width:1199px) { 
    margin-bottom: 10px;
    }
    @media screen and (min-width:1200px) {
        &:not(:last-child){
        margin-right: 30px;
    }
}
}
.mob-menu {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #FFFFFF;
    width: 100vw;
    height: 100vh;
    padding-top: 10px;
    padding-bottom: 48px;
    padding-left: 40px;
    overflow-y: scroll;
    .container {
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: space-between;
        align-items: flex-start;
         
    }
}

.mob-menu-top {
    width: 100%;
}
.menu-close-btn {
    display: block;
    margin-left: auto;
    border: none;
    background-color: transparent;
     &:hover, &:focus {
    fill: #2196F3;
     }
}
//   .mob-menu-list {
//      margin-bottom: 302px;
//   }

 .mob-menu-list__link {
    @include font (40px, 1.17, 500, 0.02em); 
    color: #212121; 
    &.current {
    color: var(--acent-color);
    }
   // margin-left: 40px;
 }
// .mob-contact-list {
//    margin-left: 40px;  
// }
 .mob-contact-list__tel {
  @include font (34px, 1.17, 500, 0.02em);  
  color: #2196F3; 
  
  margin-bottom: 32px; 


 }

 .mob-contact-list__mail {
    @include font (24px, 1.18, 500, 0.02em);  
  color: #757575; 
 
}


 

 .mob-soc-list {
     display: flex;
     margin-top: 64px;
 }

 .mob-soc-list__item:not(:last-child) {
   
  
  border-right: 1px solid rgba(33, 33, 33, 0.2);
  margin-right: 10px;
  padding-right: 10px;
  }
 
 
 .mob-soc-list__link {
 @include font (18px, 1.22, 500, 0.02em);  
  color: #2196F3;
 }
.no-scroll {
    overflow: hidden;
}