.logo {
    font-family: 'Raleway';
     @include font (26px, 1.19, 700, 0.03em);
    color: #212121;  
    margin-right: 93px;  
  }
  .footer-logo {
      
font-family: 'Raleway';
 @include font (26px, 1.19, 700, 0.03em);
color: #FFFFFF;
  }
  .logo--color {
    color:var(--acent-color); 
}